<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ExpediaTest" parallel="tests">
  <test name="Expedia signUp">
  <parameter name="url" value="https://www.expedia.com"></parameter>
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="testCase.Tc01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
